<table>
    <thead>
        <tr>
            <th colspan="2">A single cat</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@singular_cat.name</td>
            <td>with two columns</td>
        </tr>
    </tbody>
</table>